@model InventoryManagement.Models.Producto

@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminar @Html.DisplayFor(model => model.Nombre)</h1>

<h3>Esta seguro que sea eliminar el producto?</h3>
<div>
    <h4>Producto</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Existencias)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Existencias)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Precio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Precio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PorcentajeImpuesto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PorcentajeImpuesto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrdenCompraId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrdenCompraId)
        </dd>
        <form asp-action="Delete">
            <a class="btn btn-secondary" title="Go Back" asp-action="Index">Volver</a>
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Eliminar" class="btn btn-primary" />
        </form>
    </dl>
</div>
