@model IEnumerable<InventoryManagement.Models.Producto>

@{
    ViewData["Title"] = "Index";
}

<h1>Productos</h1>

<button onclick="location.href='@Url.Action("Create")'" type="button" class="btn btn-primary my-3">Añadir un producto</button>
<table class="table">
    <thead>
        <tr>
            <th>
                Producto
            </th>
            <th>
                Descripción
            </th>
            <th>
                Stock
            </th>
            <th>
                Precio
            </th>
            <th>
               Impuestos
            </th>
            <th>
                Orden de Compra
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Existencias)
            </td>
            <td>
                    ₡@Html.DisplayFor(modelItem => item.Precio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PorcentajeImpuesto)% 
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrdenCompraId)
            </td>
            <td>
                    <a class="btn btn-warning btn-sm w-25" asp-action="Edit" asp-route-id="@item.OrdenCompraId" title="Edit">
                    <i class="fas fa-edit"></i>
                </a>

                    <a class="btn btn-info btn-sm w-25" asp-action="Details" asp-route-id="@item.OrdenCompraId" title="Details">
                    <i class="fas fa-info-circle"></i>
                </a>

                    <a class="btn btn-danger btn-sm w-25" asp-action="Delete" asp-route-id="@item.OrdenCompraId" title="Delete">
                    <i class="fas fa-trash"></i>
                </a>
            </td>
        </tr>
}
    </tbody>
</table>
